$base-bgcolor: var(--base-bgcolor, #ffffff80);
$base-color: var(--base-color, black);
$sub-bgcolor: var(--sub-bgcolor, #ffffffe0);
$container-bgcolor: var(--container-bgcolor, transparent);
$base-blur: blur(8px);

// 左侧菜单宽度
$base-menu-width: 256px;

// 顶部导航高度
$base-tabbar-height: 64px;

$base-font-size: 16px;
